.page1{
    background:url(images/Object.png) rgba(58, 43, 226, 0.164);
    background-blend-mode:overlay;
    background-size:cover ;
    height: 120vh;


}



.link{

    
    display: flex;
    padding: 20px;
    margin: 0px 70px;

     }
 nav a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px;
 }
 .title{
    color: white;
    
    
 }   
 .title h1{
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
 }
.sub{
    
    display: inline;
    display: flex;
    justify-content:center;
   
}
.sub span{
    padding: 10px;
    font-weight: bold;
}
.register{

    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.register button{
    display: block;
    padding: 10px;
    margin: 40px;
    background-color: rgb(214, 43, 226);
    border-radius: 20px;
}
.learn{
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:50px ;
}
.learn span{
    color: rgb(214, 43, 226) ;
}
.cards{
    padding: 20px;
    margin: 60px;
    display: flex;
    justify-content: center;
    color: white;
}
.card1{
    padding-right: 50px;
}
.card2{
    padding-left: 90px;
}

.card3{
    padding-left: 90px;
}
.card4{
    padding-left: 90px;
}




.cards h3{
    font-weight: bold;
}
.cards p{
    font-size: small;
    display: flex;
    justify-content: center;
}
.card1 img{
    
    width: 5%;
}


.card2 img{
    border-radius: 50%;
    width: 95%;

}
.card3 img{
    padding-:20px ;
    border-radius: 50%;
    width: 95%;
}
.card4 img{
    border-radius: 50%;
    width: 95%;
}